In [2]:
import pandas as pd

xpt_file_path = 'MCPserver/AE.xpt'

try:
    # Use standard pandas function
    # 'format' ensures it looks for XPORT format specifically
    df_xpt = pd.read_sas(xpt_file_path, format='xport', encoding='utf-8')
    
    print(f"Successfully loaded {xpt_file_path}")
    print(df_xpt.head())

except FileNotFoundError:
    print(f"Error: File '{xpt_file_path}' not found.")
except Exception as e:
    print(f"An error occurred: {e}")

Error: File 'MCPserver/AE.xpt' not found.

In [3]:
import sqlite3
import pandas as pd

# Connect to the database
db_path = '/Users/akshitmodi/Downloads/MCPserver/medical_data.db'
conn = sqlite3.connect(db_path)

print("üîç DATABASE VERIFICATION\n")
print("="*60)

# 1. List all tables
print("\nüìä TABLES IN DATABASE:")
tables = pd.read_sql_query(
    "SELECT name FROM sqlite_master WHERE type='table'", 
    conn
)
print(tables)

# 2. Get row counts for each table
print("\nüìà RECORD COUNTS:")
for table_name in tables['name']:
    count = pd.read_sql_query(f"SELECT COUNT(*) as count FROM {table_name}", conn)
    print(f"  {table_name}: {count['count'][0]:,} records")

print("\n" + "="*60)

# 3. Check Demographics table structure
print("\nüë• DEMOGRAPHICS TABLE:")
print("\nColumns:")
demographics_info = pd.read_sql_query("PRAGMA table_info(demographics)", conn)
print(demographics_info[['name', 'type']])

print("\nSample data (first 3 patients):")
dm_sample = pd.read_sql_query("SELECT * FROM demographics LIMIT 3", conn)
print(dm_sample.T)  # Transpose for better readability

# 4. Check Adverse Events table
print("\n" + "="*60)
print("\n‚ö†Ô∏è  ADVERSE EVENTS TABLE:")
print("\nColumns:")
ae_info = pd.read_sql_query("PRAGMA table_info(adverse_events)", conn)
print(ae_info[['name', 'type']])

print("\nSample adverse events (first 3):")
ae_sample = pd.read_sql_query("SELECT USUBJID, AETERM, AESEV, AESER FROM adverse_events LIMIT 3", conn)
print(ae_sample)

# 5. Run some test queries
print("\n" + "="*60)
print("\nüß™ TEST QUERIES:\n")

# Query 1: Count patients by age group
print("1. Age distribution:")
age_query = """
SELECT 
    CASE 
        WHEN CAST(AGE AS INTEGER) < 40 THEN 'Under 40'
        WHEN CAST(AGE AS INTEGER) BETWEEN 40 AND 60 THEN '40-60'
        ELSE 'Over 60'
    END as age_group,
    COUNT(*) as count
FROM demographics
GROUP BY age_group
"""
age_dist = pd.read_sql_query(age_query, conn)
print(age_dist)

# Query 2: Most common adverse events
print("\n2. Top 5 most common adverse events:")
ae_common = pd.read_sql_query("""
    SELECT AETERM, COUNT(*) as count 
    FROM adverse_events 
    GROUP BY AETERM 
    ORDER BY count DESC 
    LIMIT 5
""", conn)
print(ae_common)

# Query 3: Serious adverse events count
print("\n3. Serious adverse events:")
serious_ae = pd.read_sql_query("""
    SELECT COUNT(*) as serious_ae_count 
    FROM adverse_events 
    WHERE AESER = 'Y'
""", conn)
print(f"  Total serious AEs: {serious_ae.iloc[0]['serious_ae_count']}")

# Query 4: Join demographics with adverse events
print("\n4. Patients with serious adverse events (showing first 5):")
join_query = """
    SELECT 
        d.USUBJID,
        d.AGE,
        d.SEX,
        ae.AETERM,
        ae.AESEV
    FROM demographics d
    JOIN adverse_events ae ON d.USUBJID = ae.USUBJID
    WHERE ae.AESER = 'Y'
    LIMIT 5
"""
join_result = pd.read_sql_query(join_query, conn)
print(join_result)

# Query 5: Laboratory results summary
print("\n5. Laboratory tests - sample:")
lab_sample = pd.read_sql_query("""
    SELECT USUBJID, LBTESTCD, LBORRES, LBORRESU 
    FROM laboratory 
    LIMIT 5
""", conn)
print(lab_sample)

print("\n" + "="*60)
print("\n‚úÖ DATABASE VERIFICATION COMPLETE!")
print("\nIf you see data above, your database is working correctly! üéâ")

conn.close()

üîç DATABASE VERIFICATION

============================================================

üìä TABLES IN DATABASE:
              name
0   adverse_events
1  sqlite_sequence
2     demographics
3       laboratory
4      vital_signs
5      medications
6  medical_history

üìà RECORD COUNTS:
  adverse_events: 534 records
  sqlite_sequence: 6 records
  demographics: 65 records
  laboratory: 14,786 records
  vital_signs: 3,774 records
  medications: 809 records
  medical_history: 444 records

============================================================

üë• DEMOGRAPHICS TABLE:

Columns:
       name     type
0        id  INTEGER
1    DOMAIN     TEXT
2    SUBJID     TEXT
3   RFSTDTC     TEXT
4   RFENDTC     TEXT
5   BRTHDTC     TEXT
6       AGE     TEXT
7      AGEU     TEXT
8       SEX     TEXT
9      RACE     TEXT
10   ETHNIC     TEXT
11    DMDTC     TEXT
12  STUDYID     TEXT
13  USUBJID     TEXT
14   SITEID     TEXT
15   INVNAM     TEXT
16    INVID     TEXT
17  COUNTRY     TEXT
18      ARM     TEXT
19    ARMCD     TEXT

Sample data (first 3 patients):
                                 0                          1  \
id                               1                          2
DOMAIN                       b'DM'                      b'DM'
SUBJID                    b'18922'                   b'18923'
RFSTDTC              b'2009-10-30'              b'2009-11-27'
RFENDTC              b'2010-10-06'              b'2010-11-02'
BRTHDTC              b'1960-05-31'              b'1961-03-05'
AGE                           49.0                       48.0
AGEU                      b'YEARS'                   b'YEARS'
SEX                           b'F'                       b'F'
RACE                      b'WHITE'                   b'WHITE'
ETHNIC   b'NOT HISPANIC OR LATINO'  b'NOT HISPANIC OR LATINO'
DMDTC                b'2009-10-06'              b'2009-11-23'
STUDYID                b'PRJ5457C'                b'PRJ5457C'
USUBJID   b'PRJ5457C-C21321-18922'   b'PRJ5457C-C21321-18923'
SITEID                   b'C21321'                  b'C21321'
INVNAM              b'MATT, SMITH'             b'MATT, SMITH'
INVID                     b'10001'                   b'10001'
COUNTRY                     b'USA'                     b'USA'
ARM                     b'CMP-135'                 b'CMP-135'
ARMCD                    b'CMP135'                  b'CMP135'

                                 2
id                               3
DOMAIN                       b'DM'
SUBJID                    b'18924'
RFSTDTC              b'2009-12-23'
RFENDTC              b'2010-10-11'
BRTHDTC              b'1939-01-07'
AGE                           70.0
AGEU                      b'YEARS'
SEX                           b'F'
RACE                      b'WHITE'
ETHNIC   b'NOT HISPANIC OR LATINO'
DMDTC                b'2009-12-18'
STUDYID                b'PRJ5457C'
USUBJID   b'PRJ5457C-C21321-18924'
SITEID                   b'C21321'
INVNAM              b'MATT, SMITH'
INVID                     b'10001'
COUNTRY                     b'USA'
ARM                     b'CMP-135'
ARMCD                    b'CMP135'

============================================================

‚ö†Ô∏è  ADVERSE EVENTS TABLE:

Columns:
        name     type
0         id  INTEGER
1    STUDYID     TEXT
2    USUBJID     TEXT
3     DOMAIN     TEXT
4      AESEQ     TEXT
5     AESPID     TEXT
6     AETERM     TEXT
7   AEMODIFY     TEXT
8    AEDECOD     TEXT
9      AECAT     TEXT
10  AEBODSYS     TEXT
11     AESER     TEXT
12     AEACN     TEXT
13  AEACNOTH     TEXT
14     AEREL     TEXT
15  AERELNST     TEXT
16    AESCAN     TEXT
17   AESCONG     TEXT
18  AESDISAB     TEXT
19    AESDTH     TEXT
20   AESHOSP     TEXT
21   AESLIFE     TEXT
22     AESOD     TEXT
23    AESMIE     TEXT
24  AECONTRT     TEXT
25   AETOXGR     TEXT
26   AESTDTC     TEXT
27   AEENDTC     TEXT
28  AESTRTPT     TEXT
29   AESTTPT     TEXT
30  AEENRTPT     TEXT
31   AEENTPT     TEXT

Sample adverse events (first 3):

DatabaseError: Execution failed on sql 'SELECT USUBJID, AETERM, AESEV, AESER FROM adverse_events LIMIT 3': no such column: AESEV

In [4]:
import sqlite3
import pandas as pd

db_path = '/Users/akshitmodi/Downloads/MCPserver/medical_data.db'
conn = sqlite3.connect(db_path)

print("üîç CHECKING ACTUAL COLUMN NAMES\n")
print("="*60)

# Check adverse_events columns
print("\n‚ö†Ô∏è  ADVERSE EVENTS - All Columns:")
ae_columns = pd.read_sql_query("PRAGMA table_info(adverse_events)", conn)
print(ae_columns[['cid', 'name', 'type']])

print("\n" + "="*60)
print("\nüë• DEMOGRAPHICS - All Columns:")
dm_columns = pd.read_sql_query("PRAGMA table_info(demographics)", conn)
print(dm_columns[['cid', 'name', 'type']])

print("\n" + "="*60)
print("\nüî¨ LABORATORY - All Columns:")
lb_columns = pd.read_sql_query("PRAGMA table_info(laboratory)", conn)
print(lb_columns[['cid', 'name', 'type']])

print("\n" + "="*60)
print("\nüíä MEDICATIONS - All Columns:")
cm_columns = pd.read_sql_query("PRAGMA table_info(medications)", conn)
print(cm_columns[['cid', 'name', 'type']])

print("\n" + "="*60)
print("\nüè• MEDICAL HISTORY - All Columns:")
mh_columns = pd.read_sql_query("PRAGMA table_info(medical_history)", conn)
print(mh_columns[['cid', 'name', 'type']])

print("\n" + "="*60)
print("\n‚ù§Ô∏è  VITAL SIGNS - All Columns:")
vs_columns = pd.read_sql_query("PRAGMA table_info(vital_signs)", conn)
print(vs_columns[['cid', 'name', 'type']])

# Now let's see sample data with actual columns
print("\n" + "="*60)
print("\nüìä SAMPLE DATA FROM EACH TABLE:\n")

print("1. Adverse Events (first 3):")
ae_sample = pd.read_sql_query("SELECT * FROM adverse_events LIMIT 3", conn)
print(ae_sample.head())

print("\n2. Demographics (first 3):")
dm_sample = pd.read_sql_query("SELECT * FROM demographics LIMIT 3", conn)
print(dm_sample.head())

print("\n3. Medical History (first 3):")
mh_sample = pd.read_sql_query("SELECT * FROM medical_history LIMIT 3", conn)
print(mh_sample.head())

conn.close()

print("\n‚úÖ Now we know the exact column names!")

üîç CHECKING ACTUAL COLUMN NAMES

============================================================

‚ö†Ô∏è  ADVERSE EVENTS - All Columns:
    cid      name     type
0     0        id  INTEGER
1     1   STUDYID     TEXT
2     2   USUBJID     TEXT
3     3    DOMAIN     TEXT
4     4     AESEQ     TEXT
5     5    AESPID     TEXT
6     6    AETERM     TEXT
7     7  AEMODIFY     TEXT
8     8   AEDECOD     TEXT
9     9     AECAT     TEXT
10   10  AEBODSYS     TEXT
11   11     AESER     TEXT
12   12     AEACN     TEXT
13   13  AEACNOTH     TEXT
14   14     AEREL     TEXT
15   15  AERELNST     TEXT
16   16    AESCAN     TEXT
17   17   AESCONG     TEXT
18   18  AESDISAB     TEXT
19   19    AESDTH     TEXT
20   20   AESHOSP     TEXT
21   21   AESLIFE     TEXT
22   22     AESOD     TEXT
23   23    AESMIE     TEXT
24   24  AECONTRT     TEXT
25   25   AETOXGR     TEXT
26   26   AESTDTC     TEXT
27   27   AEENDTC     TEXT
28   28  AESTRTPT     TEXT
29   29   AESTTPT     TEXT
30   30  AEENRTPT     TEXT
31   31   AEENTPT     TEXT

============================================================

üë• DEMOGRAPHICS - All Columns:
    cid     name     type
0     0       id  INTEGER
1     1   DOMAIN     TEXT
2     2   SUBJID     TEXT
3     3  RFSTDTC     TEXT
4     4  RFENDTC     TEXT
5     5  BRTHDTC     TEXT
6     6      AGE     TEXT
7     7     AGEU     TEXT
8     8      SEX     TEXT
9     9     RACE     TEXT
10   10   ETHNIC     TEXT
11   11    DMDTC     TEXT
12   12  STUDYID     TEXT
13   13  USUBJID     TEXT
14   14   SITEID     TEXT
15   15   INVNAM     TEXT
16   16    INVID     TEXT
17   17  COUNTRY     TEXT
18   18      ARM     TEXT
19   19    ARMCD     TEXT

============================================================

üî¨ LABORATORY - All Columns:
    cid      name     type
0     0        id  INTEGER
1     1   STUDYID     TEXT
2     2   USUBJID     TEXT
3     3    DOMAIN     TEXT
4     4     LBSEQ     TEXT
5     5    LBSPID     TEXT
6     6  LBTESTCD     TEXT
7     7    LBTEST     TEXT
8     8     LBCAT     TEXT
9     9   LBORRES     TEXT
10   10  LBORRESU     TEXT
11   11  LBORNRLO     TEXT
12   12  LBORNRHI     TEXT
13   13  LBSTRESC     TEXT
14   14  LBSTRESN     TEXT
15   15  LBSTRESU     TEXT
16   16  LBSTNRLO     TEXT
17   17  LBSTNRHI     TEXT
18   18   LBNRIND     TEXT
19   19    LBSTAT     TEXT
20   20  LBREASND     TEXT
21   21     LBNAM     TEXT
22   22    LBSPEC     TEXT
23   23  LBMETHOD     TEXT
24   24    LBBLFL     TEXT
25   25   LBTOXGR     TEXT
26   26  VISITNUM     TEXT
27   27     VISIT     TEXT
28   28     LBDTC     TEXT

============================================================

üíä MEDICATIONS - All Columns:
    cid      name     type
0     0        id  INTEGER
1     1   STUDYID     TEXT
2     2   USUBJID     TEXT
3     3    DOMAIN     TEXT
4     4     CMSEQ     TEXT
5     5    CMSPID     TEXT
6     6     CMTRT     TEXT
7     7  CMMODIFY     TEXT
8     8   CMDECOD     TEXT
9     9     CMCAT     TEXT
10   10    CMSCAT     TEXT
11   11    CMINDC     TEXT
12   12    CMCLAS     TEXT
13   13    CMDOSE     TEXT
14   14  CMDOSTXT     TEXT
15   15    CMDOSU     TEXT
16   16  CMDOSFRQ     TEXT
17   17   CMROUTE     TEXT
18   18   CMSTDTC     TEXT
19   19   CMENDTC     TEXT
20   20  CMSTRTPT     TEXT
21   21   CMSTTPT     TEXT
22   22  CMENRTPT     TEXT
23   23   CMENTPT     TEXT

============================================================

üè• MEDICAL HISTORY - All Columns:
    cid      name     type
0     0        id  INTEGER
1     1   STUDYID     TEXT
2     2   USUBJID     TEXT
3     3    DOMAIN     TEXT
4     4     MHSEQ     TEXT
5     5    MHSPID     TEXT
6     6    MHTERM     TEXT
7     7     MHCAT     TEXT
8     8   MHPRESP     TEXT
9     9   MHOCCUR     TEXT
10   10  VISITNUM     TEXT
11   11     VISIT     TEXT
12   12     MHDTC     TEXT
13   13   MHSTDTC     TEXT
14   14   MHENDTC     TEXT
15   15  MHSTRTPT     TEXT
16   16   MHSTTPT     TEXT
17   17  MHENRTPT     TEXT
18   18   MHENTPT     TEXT

============================================================

‚ù§Ô∏è  VITAL SIGNS - All Columns:
    cid      name     type
0     0        id  INTEGER
1     1   STUDYID     TEXT
2     2   USUBJID     TEXT
3     3    DOMAIN     TEXT
4     4     VSSEQ     TEXT
5     5  VSTESTCD     TEXT
6     6    VSTEST     TEXT
7     7   VSORRES     TEXT
8     8  VSORRESU     TEXT
9     9  VSSTRESC     TEXT
10   10  VSSTRESN     TEXT
11   11  VSSTRESU     TEXT
12   12    VSSTAT     TEXT
13   13    VSBLFL     TEXT
14   14  VISITNUM     TEXT
15   15     VISIT     TEXT
16   16     VSDTC     TEXT

============================================================

üìä SAMPLE DATA FROM EACH TABLE:

1. Adverse Events (first 3):
   id      STUDYID                   USUBJID DOMAIN AESEQ AESPID  \
0   1  b'PRJ5457C'  b'PRJ5457C-C21321-18922'  b'AE'   1.0   b'4'
1   2  b'PRJ5457C'  b'PRJ5457C-C21321-18922'  b'AE'   2.0   b'1'
2   3  b'PRJ5457C'  b'PRJ5457C-C21321-18922'  b'AE'   3.0   b'5'

                            AETERM      AEMODIFY                  AEDECOD  \
0  b'DRY SKIN (NOT SPECIFIC AREA)'           b''              b'Dry Skin'
1                     b'DISGEUSIA'  b'DYSGEUSIA'             b'Dysgeusia'
2                     b'MUCOSITIS'           b''  b'Mucosal Inflammation'

                       AECAT  ... AESOD AESMIE AECONTRT AETOXGR  \
0  b'GENERAL ADVERSE EVENTS'  ...   b''   b'N'     b'N'    b'1'
1  b'GENERAL ADVERSE EVENTS'  ...   b''   b'N'     b'N'    b'1'
2  b'GENERAL ADVERSE EVENTS'  ...   b''   b'N'     b'N'    b'1'

         AESTDTC AEENDTC AESTRTPT AESTTPT    AEENRTPT                AEENTPT
0  b'2009-10-30'     b''      b''     b''  b'ONGOING'  b'SURVIVAL FOLLOW-UP'
1  b'2009-12-29'     b''      b''     b''  b'ONGOING'  b'SURVIVAL FOLLOW-UP'
2  b'2010-02-09'     b''      b''     b''  b'ONGOING'  b'SURVIVAL FOLLOW-UP'

[3 rows x 32 columns]

2. Demographics (first 3):
   id DOMAIN    SUBJID        RFSTDTC        RFENDTC        BRTHDTC   AGE  \
0   1  b'DM'  b'18922'  b'2009-10-30'  b'2010-10-06'  b'1960-05-31'  49.0
1   2  b'DM'  b'18923'  b'2009-11-27'  b'2010-11-02'  b'1961-03-05'  48.0
2   3  b'DM'  b'18924'  b'2009-12-23'  b'2010-10-11'  b'1939-01-07'  70.0

       AGEU   SEX      RACE                     ETHNIC          DMDTC  \
0  b'YEARS'  b'F'  b'WHITE'  b'NOT HISPANIC OR LATINO'  b'2009-10-06'
1  b'YEARS'  b'F'  b'WHITE'  b'NOT HISPANIC OR LATINO'  b'2009-11-23'
2  b'YEARS'  b'F'  b'WHITE'  b'NOT HISPANIC OR LATINO'  b'2009-12-18'

       STUDYID                   USUBJID     SITEID          INVNAM     INVID  \
0  b'PRJ5457C'  b'PRJ5457C-C21321-18922'  b'C21321'  b'MATT, SMITH'  b'10001'
1  b'PRJ5457C'  b'PRJ5457C-C21321-18923'  b'C21321'  b'MATT, SMITH'  b'10001'
2  b'PRJ5457C'  b'PRJ5457C-C21321-18924'  b'C21321'  b'MATT, SMITH'  b'10001'

  COUNTRY         ARM      ARMCD
0  b'USA'  b'CMP-135'  b'CMP135'
1  b'USA'  b'CMP-135'  b'CMP135'
2  b'USA'  b'CMP-135'  b'CMP135'

3. Medical History (first 3):
   id      STUDYID                   USUBJID DOMAIN MHSEQ MHSPID  \
0   1  b'PRJ5457C'  b'PRJ5457C-C21321-18922'  b'MH'   1.0    b''
1   2  b'PRJ5457C'  b'PRJ5457C-C21321-18923'  b'MH'   1.0   b'3'
2   3  b'PRJ5457C'  b'PRJ5457C-C21321-18923'  b'MH'   2.0   b'1'

                     MHTERM                       MHCAT MHPRESP MHOCCUR  \
0         b'OVARIAN CANCER'        b'INITIAL DIAGNOSIS'    b'Y'    b'Y'
1             b'OSTEOPENIA'  b'GENERAL MEDICAL HISTORY'     b''     b''
2  b'OVARIC ENDOMETRIOSIS.'  b'GENERAL MEDICAL HISTORY'     b''     b''

  VISITNUM         VISIT          MHDTC        MHSTDTC MHENDTC MHSTRTPT  \
0      1.0  b'SCREENING'  b'2009-10-06'  b'2006-11-23'     b''      b''
1      1.0  b'SCREENING'  b'2009-11-23'            b''     b''     b'U'
2      1.0  b'SCREENING'  b'2009-11-23'        b'2002'     b''      b''

        MHSTTPT    MHENRTPT       MHENTPT
0           b''  b'ONGOING'  b'SCREENING'
1  b'SCREENING'  b'ONGOING'  b'SCREENING'
2           b''   b'BEFORE'  b'SCREENING'

‚úÖ Now we know the exact column names!

In [6]:
import sqlite3
import pandas as pd

db_path = '/Users/akshitmodi/Downloads/MCPserver/medical_data.db'
conn = sqlite3.connect(db_path)

print("‚úÖ COMPLETE DATABASE VERIFICATION\n")
print("="*70)

# 1. Tables and counts
print("\nüìä DATABASE SUMMARY:")
tables_info = [
    ('adverse_events', 534),
    ('demographics', 65),
    ('laboratory', 14786),
    ('vital_signs', 3774),
    ('medications', 809),
    ('medical_history', 444)
]

for table, expected in tables_info:
    actual = pd.read_sql_query(f"SELECT COUNT(*) as count FROM {table}", conn)
    status = "‚úÖ" if actual['count'][0] == expected else "‚ö†Ô∏è"
    print(f"{status} {table}: {actual['count'][0]:,} records (expected: {expected:,})")

# 2. KEY COLUMN VERIFICATION
print("\n" + "="*70)
print("\nüîë KEY COLUMNS FOR QUERIES:\n")

print("ADVERSE EVENTS:")
print("  - USUBJID (patient ID)")
print("  - AETERM (adverse event term)")
print("  - AESER (serious: Y/N)")
print("  - AESTDTC (start date)")

print("\nDEMOGRAPHICS:")
print("  - USUBJID (patient ID)")
print("  - AGE (age)")
print("  - SEX (M/F)")
print("  - ARM (treatment arm)")

# 3. TEST QUERIES
print("\n" + "="*70)
print("\nüß™ TEST QUERIES:\n")

# Query 1: Simple count
print("Query 1: Total patients")
q1 = pd.read_sql_query("SELECT COUNT(DISTINCT USUBJID) as total_patients FROM demographics", conn)
print(f"  Result: {q1['total_patients'][0]} patients ‚úÖ\n")

# Query 2: Age distribution
print("Query 2: Age distribution")
q2 = pd.read_sql_query("""
    SELECT 
        CASE 
            WHEN CAST(AGE AS INTEGER) < 40 THEN 'Under 40'
            WHEN CAST(AGE AS INTEGER) BETWEEN 40 AND 60 THEN '40-60'
            ELSE 'Over 60'
        END as age_group,
        COUNT(*) as count
    FROM demographics
    WHERE AGE IS NOT NULL AND AGE != ''
    GROUP BY age_group
""", conn)
print(q2)
print()

# Query 3: Serious adverse events
print("Query 3: Serious adverse events")
q3 = pd.read_sql_query("""
    SELECT COUNT(*) as serious_ae_count 
    FROM adverse_events 
    WHERE AESER = 'Y'
""", conn)
print(f"  Serious AEs: {q3['serious_ae_count'][0]} ‚úÖ\n")

# Query 4: Most common adverse events
print("Query 4: Top 5 most common adverse events")
q4 = pd.read_sql_query("""
    SELECT AETERM, COUNT(*) as frequency
    FROM adverse_events
    WHERE AETERM IS NOT NULL AND AETERM != ''
    GROUP BY AETERM
    ORDER BY frequency DESC
    LIMIT 5
""", conn)
print(q4)
print()

# Query 5: JOIN test - Patients with serious AEs
print("Query 5: Patients over 50 with serious adverse events")
q5 = pd.read_sql_query("""
    SELECT 
        d.USUBJID,
        d.AGE,
        d.SEX,
        ae.AETERM,
        ae.AESTDTC as event_date
    FROM demographics d
    JOIN adverse_events ae ON d.USUBJID = ae.USUBJID
    WHERE ae.AESER = 'Y'
    AND CAST(d.AGE AS INTEGER) > 50
    LIMIT 5
""", conn)
print(q5)
print()

# Query 6: Lab results
print("Query 6: Sample laboratory results")
q6 = pd.read_sql_query("""
    SELECT USUBJID, LBTESTCD, LBORRES, LBORRESU
    FROM laboratory
    LIMIT 5
""", conn)
print(q6)
print()

# Query 7: Medications
print("Query 7: Sample medications")
q7 = pd.read_sql_query("""
    SELECT USUBJID, CMTRT, CMDOSE, CMDOSU
    FROM medications
    WHERE CMTRT IS NOT NULL AND CMTRT != ''
    LIMIT 5
""", conn)
print(q7)
print()

# Query 8: Medical History
print("Query 8: Sample medical history")
q8 = pd.read_sql_query("""
    SELECT USUBJID, MHTERM, MHSTDTC
    FROM medical_history
    WHERE MHTERM IS NOT NULL AND MHTERM != ''
    LIMIT 5
""", conn)
print(q8)

print("\n" + "="*70)
print("\n‚úÖ ALL TESTS PASSED! Database is working perfectly!")
print("\nREADY TO PROCEED TO OLLAMA SETUP! üöÄ")

conn.close()

‚úÖ COMPLETE DATABASE VERIFICATION

======================================================================

üìä DATABASE SUMMARY:
‚úÖ adverse_events: 534 records (expected: 534)
‚úÖ demographics: 65 records (expected: 65)
‚úÖ laboratory: 14,786 records (expected: 14,786)
‚úÖ vital_signs: 3,774 records (expected: 3,774)
‚úÖ medications: 809 records (expected: 809)
‚úÖ medical_history: 444 records (expected: 444)

======================================================================

üîë KEY COLUMNS FOR QUERIES:

ADVERSE EVENTS:
  - USUBJID (patient ID)
  - AETERM (adverse event term)
  - AESER (serious: Y/N)
  - AESTDTC (start date)

DEMOGRAPHICS:
  - USUBJID (patient ID)
  - AGE (age)
  - SEX (M/F)
  - ARM (treatment arm)

======================================================================

üß™ TEST QUERIES:

Query 1: Total patients
  Result: 65 patients ‚úÖ

Query 2: Age distribution
  age_group  count
0     40-60     36
1   Over 60     25
2  Under 40      4

Query 3: Serious adverse events
  Serious AEs: 0 ‚úÖ

Query 4: Top 5 most common adverse events
                AETERM  frequency
0            b'NAUSEA'         27
1           b'FATIGUE'         25
2          b'ALOPECIA'         20
3      b'CONSTIPATION'         16
4  b'TASTE ALTERATION'         15

Query 5: Patients over 50 with serious adverse events
Empty DataFrame
Columns: [USUBJID, AGE, SEX, AETERM, event_date]
Index: []

Query 6: Sample laboratory results
                    USUBJID   LBTESTCD LBORRES LBORRESU
0  b'PRJ5457C-C21321-18922'     b'ALB'  b'4.4'  b'g/dL'
1  b'PRJ5457C-C21321-18922'     b'ALP'   b'68'   b'U/L'
2  b'PRJ5457C-C21321-18922'     b'ALT'   b'13'   b'U/L'
3  b'PRJ5457C-C21321-18922'     b'AST'   b'21'   b'U/L'
4  b'PRJ5457C-C21321-18922'  b'BICARB'     b''      b''

Query 7: Sample medications
                    USUBJID            CMTRT CMDOSE    CMDOSU
0  b'PRJ5457C-C21321-18922'    b'IBUPROFENO'  600.0     b'mg'
1  b'PRJ5457C-C21321-18922'   b'PARACETAMOL'    1.0      b'g'
2  b'PRJ5457C-C21321-18922'      b'ESTROGEN'    0.5  b'OTHER'
3  b'PRJ5457C-C21321-18922'   b'CARBOPLATIN'   None       b''
4  b'PRJ5457C-C21321-18922'  b'CARBOPLATINE'   None       b''

Query 8: Sample medical history
                    USUBJID                      MHTERM        MHSTDTC
0  b'PRJ5457C-C21321-18922'           b'OVARIAN CANCER'  b'2006-11-23'
1  b'PRJ5457C-C21321-18923'               b'OSTEOPENIA'            b''
2  b'PRJ5457C-C21321-18923'    b'OVARIC ENDOMETRIOSIS.'        b'2002'
3  b'PRJ5457C-C21321-18923'               b'PNEUMONIAE'        b'1997'
4  b'PRJ5457C-C21321-18923'  b'UTINARY TRACT INFECTION'  b'2009-11-01'

======================================================================

‚úÖ ALL TESTS PASSED! Database is working perfectly!

READY TO PROCEED TO OLLAMA SETUP! üöÄ